.hero-container {
    position: relative;
    background-image: url('public/прикладная математика и информатика.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero-container > * {
    position: relative;
    z-index: 2;
}

.breadcrumb-item.white::before {
    color: white !important; /* Делаем белым */
}
.breadcrumb-item.black::before {
    color: black !important; /* Делаем белым */
}

.dropdown {
    display: flex;
    align-items: stretch;
}

.red-link:hover {
    color: red !important;
}

.list-ul-dash {
    list-style-type: none;
}

.list-ul-dash li::before {
    content: "\2014\a0";
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

@media (min-width: 1600px) {
    body {
        max-width: 1600px; /* Максимальная ширина контента */
        margin: 0 auto; /* Центрирование контента с белыми полями */
        background-color: #fff; /* Белый фон */
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}